name: CI/CD - Build and Push Docker Images

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Build and push backend
      - name: Build and push backend image
        uses: docker/build-push-action@v4
        with:
          context: ./userhub/backend
          file: ./userhub/backend/Dockerfile
          push: true
          tags: dhiraj918106/userhub-backend:latest

      # Build and push frontend
      - name: Build and push frontend image
        uses: docker/build-push-action@v4
        with:
          context: ./userhub/frontend
          file: ./userhub/frontend/Dockerfile
          push: true
          tags: dhiraj918106/userhub-frontend:latest
